.container div {
  height: 300px;
}
.container {
  display: grid;
  gap: 20px;
}
.contents {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.container div:nth-child(1) {
  background-color: aqua;
}

.container div:nth-child(2) {
  background-color: blanchedalmond;
}

.container div:nth-child(3) {
  background-color: aquamarine;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: auto;
  }
}
