* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
/* div{
    margin: 10px;
    padding: 10px;
} */
body {
  background-color: #f5f5f5;
  color: #333;
  /* line-height: 1.6; */
}

.header {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 25px;
  margin-bottom: 50px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.header div {
  display: flex;
}
.header div:nth-child(2) {
  justify-content: center;
}
.header div:nth-child(3) {
  justify-content: end;
}

.header div:nth-child(1) {
  justify-content: left;
}
.header h4 {
  font-weight: 100px;
}
.header h5 {
  font-size: 25px;
  font-weight: 400px;
}

.header button {
  background-color: inherit;
  border-style: hidden;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.contents .foods img {
  width: 100%;
  height: 450px;
}

.contents {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 15px;
  justify-content: center;
  row-gap: 35px;
}

.foods {
  border: 1px solid #ccc;
  border-style: hidden;
}

.contents .foods h3 {
  text-align: center;
  margin: 10px;
  font-weight: 400;
  font-size: 20px;
}

.contents .foods p {
  text-align: center;
  font-size: 15px;
  color: #666;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /* gap: 20px; */
  border-bottom: 1px solid #ccc;
}

.links a {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 100px;
  padding: 8px 14px;
}

.links a:hover {
  background-color: rgb(51, 50, 50);
  flex-wrap: 100px;
  color: white;
}
.links a svg {
  margin-top: 4px;
}
.links a svg:hover {
  fill: white;
}

.links .one {
  color: white;
  background-color: black;
  padding: 9px 16px;
}

.links .one:hover {
  background-color: #0f0f0f;
}

.second-part h4 {
  text-align: center;
  margin-top: 60px;
  font-weight: 300;
  font-size: 25px;
}

/* .chef {
  /* border-style: hidden;
}
display: block; */
.chef img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 800px;
}

.chef h2 {
  text-align: center;
  margin: 20px;
  font-weight: 800;
  color: rgb(78, 78, 77);
  font-size: 20px;
}

.chef .layer {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-style: italic;
  gap: 10px;
  margin-bottom: 20px;
}
.chef p {
  text-align: center;
  margin: 0 50px 20px 10px;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
}

.footer-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /* gap: 20px; */
  margin-top: 50px;
  border-top: 1px solid #ccc;
  padding: 50px 0 50px 0;
}
.footer {
  border: 1px solid #ccc;
  border-style: hidden;
  width: 400px;
  height: 200px;
  padding: 20px;
}

.footer h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.footer p {
  font-size: 14px;
  color: black;
  margin-top: 15px;
  padding-right: 30px;
  line-height: 1.5;
}
.footer .last-link {
  transform: translateY(20px);
  color: black;
  font-weight: 500;
  font-size: 15px;
}
.footer .last-link a {
  color: black;
  font-weight: 500;
}

.blog-posts {
  border: 1px solid #ccc;
  border-style: hidden;
  width: 400px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-top: 20px;
}

.blog-posts .heading h3 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 23px;
}
.blog-posts .post {
  display: grid;
  grid-template-columns: 70px auto;
  padding: 10px;
}

.blog-posts .post:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

.blog-posts .post img {
  width: 50px;
  height: 50px;
}

.blog-posts .post h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
}

.blog-posts .post p {
  line-height: 1.5;
}

.tags {
  border: 1px solid #ccc;
  border-style: hidden;
  width: 400px;
  padding: 15px;
}
.tags h3 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
  font-size: 23px;
}
.tags .tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 5px;
  row-gap: 18px;
}

.tags .tags-list .tag {
  background-color: #5f5d5d;
  color: white;
  display: block;
  padding: 3px 12px;
  font-size: 10px;
}

.tags .tags-list .head-tag {
  background-color: black;
  color: white;
  transform: scale(1.2);
  margin-right: 7px;
  margin-left: 6px;
}

@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: auto;
  }
  .contents {
    grid-template-columns: auto;
  }
  /* .second-part .chef img {
    filter: grayscale(100%);
  } */
}
